language: python
python:
- '3.5'
install:
- pip install .
script:
- echo "No tests as of now"
deploy:
- provider: releases
  skip_cleanup: true
  api_key:
    secure: 3wIm6vrNmdIP50NIUtig33S34FonRqxGnRRY55oiMN4BD5xeo2iQb8TmWMswwqVTuO09C3Cd7kBxP5JxBR+dCuVZZRqpL/8E6JUTaGyZcQ/9HgB8FwYXRCj2ASPDHfmjmZ8F3GIX19akJLKiTThB1WU3XidcZ9tZgwvOmf10Jy7IXiddRKwucVVVy608H9hUXPpIVMzqcFfeU2KeXcotU0J2eZyqso/RCPNw4qDZKFvkiKT2MM4B6FgY7WYorNUW1JXdh8dcAV7vb0oNB0iUNLMCpNHFqoyfOHcxKUgP81wMS8TY5wWLuQxUESg1eyo7Q9gwegOseySU1NBjlPyltVVWtulltM2sge0KgVoLgQRia/LeKnCynSi2r8aic1VoMUDEH5ZfWuJJrFHOJyKCNapp3MKK42UXDo28NpdjjUUgJOOukWpXsaVmPhPXpWWQlZM9YMeMPxTUpm3ZACs2WmHssVwO7EaTaJ45ctAf4m0csb7Ri5IyR5iLy9YEX6fuNMoNVCI6lE7ax38pf1mkgamZTJtvEFr+ekKMXq3heVk598rA2P7hzI5Z6Zx7S8GyQz4vveSTk/pY3StX1ScU3ULnLQaEjP1LVI3pu6R5w7PdQ+Ew6fPmU7RpD8rZPKfFoBcby1mf2Mb/HNk8jXPTHTmyTKBB+othHHg4BWM3Kuw=
  name: kwikapi.tornado-0.2.4
  tag_name: 0.2.4
  on:
    repo: deep-compute/kwikapi.tornado
- provider: pypi
  distributions: "sdist bdist_wheel"
  server: https://testpypi.python.org/pypi
  user: deepcompute
  password:
    secure: "I6PEVxs2MO8JQX/IE160jIsOz1Xk65vXpWA0mqM4VGlUrnS+bJMyoI7U8fG1tFoa29LzHb0BLRnDSvWP2mqNm4Ro6lYISZr0PxMZNyCudRif/egZYkRRR54YQ7GgFamqbvGBiaDecbrkmI5yxIpXWPbFr+ctN9nm6vqDDH6N3c7aZSEt90Ddl3Yf4R/EB6w2AkgYwVoGji7cOFnMD1BNTEgbQpNt/DHnnmDdWa2VMuo5InOoyGxA5hUPTK282/6+0XcyI1JMqcSapjo3ZhsGPaUZDHopQqWuEEsXFWJJZm4iTmBsFSGvoQ+Dt+OANzYeB2whukFZYp3eDP79fASeQPJEQEk9WE6Slr7EO/Fc5yBpLFX9UPu/maDKMhZcmaJU95jU6wuU50+8W0QLyIMQwiz480afmFmLWotp0Mu+x8cUi4cF0sI2ZuhZ0fDErahltqk70D2GYCmd1lBTvU5RrY/LQrMNW7D9Oj6JrjWI18zrQfhbdwW57QfgbG81QRVJrPban3r2efwYJzEpP5+u0EarElzXCd2xZhrjSc4v4rM+9XYhjzqX9nfDWQiPzwLmiJR8ruYpKn0420PxswGhPisj4AbaIHA6spJW881hOz7VlKsa8gUB3R9PSK6JQWDyAutwh2U0sPxDs7BQbqChrq7o9sIRWRxPvsPFARUmpA8="
  on:
    tags: false
    branch: master
- provider: pypi
  distributions: "sdist bdist_wheel"
  server: https://upload.pypi.org/legacy/
  user: deepcompute
  password:
    secure: "I6PEVxs2MO8JQX/IE160jIsOz1Xk65vXpWA0mqM4VGlUrnS+bJMyoI7U8fG1tFoa29LzHb0BLRnDSvWP2mqNm4Ro6lYISZr0PxMZNyCudRif/egZYkRRR54YQ7GgFamqbvGBiaDecbrkmI5yxIpXWPbFr+ctN9nm6vqDDH6N3c7aZSEt90Ddl3Yf4R/EB6w2AkgYwVoGji7cOFnMD1BNTEgbQpNt/DHnnmDdWa2VMuo5InOoyGxA5hUPTK282/6+0XcyI1JMqcSapjo3ZhsGPaUZDHopQqWuEEsXFWJJZm4iTmBsFSGvoQ+Dt+OANzYeB2whukFZYp3eDP79fASeQPJEQEk9WE6Slr7EO/Fc5yBpLFX9UPu/maDKMhZcmaJU95jU6wuU50+8W0QLyIMQwiz480afmFmLWotp0Mu+x8cUi4cF0sI2ZuhZ0fDErahltqk70D2GYCmd1lBTvU5RrY/LQrMNW7D9Oj6JrjWI18zrQfhbdwW57QfgbG81QRVJrPban3r2efwYJzEpP5+u0EarElzXCd2xZhrjSc4v4rM+9XYhjzqX9nfDWQiPzwLmiJR8ruYpKn0420PxswGhPisj4AbaIHA6spJW881hOz7VlKsa8gUB3R9PSK6JQWDyAutwh2U0sPxDs7BQbqChrq7o9sIRWRxPvsPFARUmpA8="
  on:
    tags: true
    branch: master
